@charset "UTF-8";
/* CSS Document */

/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.end{
	margin-right: 0 !important;
}

/*----------termina reset--------*/


/*-----font face-------*/



    @font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fuentes/Rokkitt-webfont.eot');
    src: url('../fuentes/Rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/Rokkitt-webfont.woff') format('woff'),
         url('../fonts/Proxima_Nova/ProximaNovaAlt-Bold.ttf') format('truetype'),
         url('../fuentes/Rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

  @font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fuentes/Rokkitt-webfont.eot');
    src: url('../fuentes/Rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/Rokkitt-webfont.woff') format('woff'),
         url('../fonts/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype'),
         url('../fuentes/Rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*--------termina font face----------------*/


/*----------clearfix------------*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*---------termina clearfix------------*/
.nav-color{
color: #fff;
font-style: 
}

.navbar-verde{
background-color: #00bd70;
padding-top: 7px;
}

.logo{
margin-top: -30px;
}


.titulos{
	float: right;
	margin-right: 6%;
	font-size: 7em;
	color: #00bc6f;
	margin-top: 7%;
	font-family: 'ProximaNovaBold';

}
.que1{
	background-size:cover;
	background-image: url(../img/fondo_ciudad_blanco.jpg);
	height: 60em; 
}

.fondoVerde{
	background-size:cover;
	background-image: url(../img/verde.jpg);
	height: 60em; 
}

.parrafo-uno{
	float: right;
	margin-right: 6%;
	font-size: 2.8em;
	color: #62259d;
	width: 45%;
	clear: both;
	text-align: right;
	font-family: 'ProximaNovaRegular';
	margin-top: .5em;
}

.quees{
	float: right;
	margin-right: 6%;
	font-size: 1.7em;
	color: #666;
	width: 45%;
	clear: both;
	text-align: right;
	font-family: 'ProximaNovaRegular';
	margin-top: 2em;
	font-weight: bold;
}

span{
	color: #00bd70;
	font-size: 1.3em;
}


.titulo_blanco{
font-size: 7em;
	color: #fff;
	margin-top: 7%;
	font-family: 'ProximaNovaBold';
	text-align: center;

}

.descripcion{
margin-top: .5em;
font-family: 'ProximaNovaRegular';	
font-size: 1.5em;	
color: #fff;
text-align: center;	
width: 70%;
margin:0 auto;
}

.footer{
background-color: #202020;	
border-bottom: solid 5px #00bc6f;
padding-bottom: 6%;
}

.soporte{
color: #fff;
font-family: 'ProximaNovaRegular';
font-size: 1.2em;
margin-left: 6%;
}

.tit_soporte{
font-family: 'ProximaNovaBold';
color: #00bc6f;
font-size: 1.7em;
margin-top: 6%;
margin-left: 6%;

}

.list_footer{
color: #fff;
font-family: 'ProximaNovaRegular';	
margin-top: 4%;
margin-left: 6%;
font-size: 1.3em;
line-height: 35px;
}

.list_footer a:hover{
color: #c9c9c9;
text-decoration: none;
}

.izquierda{
	float: left;

}

.derecha{
	float: right;

width: 20%;
}

.social{
margin-top: 7%;
}

.social img{
margin-right:  5%;
}

.ejemplo{
	margin: 0 auto;
	text-align: center;
}

.copy{
color: #d0d0d0;
font-family: 'ProximaNovaRegular';	
font-size: 1em;
margin-top: 10%;
text-align: center;
}

.beneficios_titulos{
color: #62259d;
font-size: 5em;
font-family: 'ProximaNovaBold';
margin-left: 6%;
margin-top: 3%;	
text-align: center;
}

.pa_beneficios{
color: #9e9e9e;
font-size: 1.4em;
font-family: 'ProximaNovaRegular';
text-align: center;
}

.caja_beneficios{
background-image: url(../img/fondo_gris.jpg);
text-align: center;
padding-bottom: 5%;

}


h4{
font-family: 'ProximaNovaRegular';	
font-size: 2em;	
color: #62259d;
}

p{
font-size: 1em;	
color: #666;	
}

.puntos{
margin-top: 4%;
}

.glyphicon {
    font-size: 70px;
    color: #00bc6f;
    margin-bottom: 7%;
}

.como_section{
	background-color: #62259d;
	padding: 4em 7em 4em 7em;

}

.como{
font-family: 'ProximaNovaBold';
font-size: 6em;	
color: #4ebb73;
text-align: center;	
margin-top:5%;
line-height: 90px;
}

.desc_como{
font-family: 'ProximaNovaRegular';	
font-size: 1.5em;	
color: #fff;
text-align: center;	
width: 70%;
margin:0 auto;	
}

.costo{
	padding-top: 2em;
	padding-bottom:2em;
}

.cuanto{
font-family: 'ProximaNovaRegular';		
font-size: 2em;
color: #fff;
text-align: center;	
}

.pin{
	width: 25em;
	margin: 0 auto;
	text-align: center;	
	background-color: #f6f6f6;
	border-radius: 10px;
	padding: 2em;
	border: solid 1px #dbdbdb;
	box-shadow:#2a0e53 3px 3px 40px ;
}

.dolares{
font-family: 'ProximaNovaRegular';	
font-size: 1.3em;	
margin-top: 1em;
}

.rentar{
	background-color: #00bc6f;
	padding: 5px 5px 5px 5px;
	color:#fff;
	font-family: 'ProximaNovaBold';
	font-size: 2em;	
	margin-top: 1em;
	border-radius: 10em;
}





